<!doctype html>
<html>
<head>
    <title>Squats Journal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="Hcontainer">
  <h1>Squats Journal!</h1>

  <section class="log">
  <p>Login or Signup:</p>

  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
</section>

    <div class="jumbotron">




    </div>

</div>
</body>
</html>
